$color: rgb(37, 39, 32);

%header1{
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bold;
    border: 2px solid black;
    text-align: center;
    color: $color;
}
h1{
    text-align: center;
    font-size: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: rgb(146, 109, 138);
}
#left-header{
    @extend %header1;
    background-color: rgb(107, 167, 182);
}

#right-header{
    @extend %header1;
    background-color:rgb(122, 45, 45);
}

div{
    
    div{
        div{
            div{
                p{
                    font-size: 17px;
                }
            }
        }
    }
}

.year{
    font-weight: bold;
}
