
div{
    div{
        
        font-size: 20px;
        padding: 50px;
    }
}

.year{
    font-weight: bold;
}

ol{
    margin: 30px;
    li{
        font-size: 20px;
    }
}
h1{
    text-align: center;
    font-weight: bold;
}
h2{
    margin: 40px;
    color: rgb(88, 85, 85);
    font-size: 50px;
}

h3{
    font-weight: bold;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}