@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#444141), to(#fafafa));
  background-image: linear-gradient(to bottom right, #444141, #fafafa);
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(37, 37, 37, 0.5)), to(rgba(0, 0, 0, 0.5))), url(img/vendor.png);
  background: linear-gradient(rgba(37, 37, 37, 0.5), rgba(0, 0, 0, 0.5)), url(img/vendor.png);
  background-size: cover;
}

.banner h1 {
  position: absolute;
  color: #0d6188;
  text-shadow: 2px 2px 2px #0c0c0c;
  top: 40vh;
  left: 40vw;
  font-size: 50px;
}

.banner h1 .txt-type {
  color: #b69837;
}

.banner h1 .txt-type .txt {
  border-right: 0.2rem solid #777;
}

#navbar {
  z-index: 1;
  position: fixed;
  top: 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  padding: 40px 30px 25px 30px;
}

#navbar .logo {
  position: relative;
  font-weight: 700;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  padding-left: 20px;
  font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
}

#navbar ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0;
}

#navbar ul li {
  position: relative;
  list-style: none;
}

#navbar ul li a {
  position: relative;
  margin: 0 20px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 500;
}

.sticky {
  background-color: rgba(104, 105, 103, 0.5) !important;
  padding: 15px 0 15px 0 !important;
  -webkit-transition: 0.5;
  transition: 0.5;
}

.sticky .logo {
  color: black !important;
}

.sticky ul li a {
  color: #000 !important;
}

.content {
  position: relative;
}

.content .seperateBar {
  position: relative;
  top: 0px;
  left: 0px;
  height: 20px;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2e2a2a), to(#747452));
  background-image: linear-gradient(#2e2a2a, #747452);
  -webkit-box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.3);
}

.content .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .main .card {
  position: relative;
  -webkit-box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.3);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  background: #f1f1f1;
  margin-bottom: 2rem;
}

.content .main .card img {
  width: 100%;
}

.content .main .card div {
  padding: 2rem;
}

.content .main .card h3 {
  font-size: 35px;
}

.content .main .card p {
  font-size: 20px;
}

.line {
  margin: 100px !important;
  font-weight: 900;
}

.member {
  margin-bottom: 40px;
}

.member .card {
  -webkit-box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.3);
}

.footer {
  padding: 20px;
  margin-top: 200px;
  position: relative;
  height: 150px;
  background-color: #454364;
  text-align: center;
}

.footer h3 {
  color: #d1cece;
  text-shadow: 1px 1px 5px #000;
}

.footer .social a {
  font-size: 2.5rem;
  padding: 3rem;
}

.footer .social .fa-facebook {
  color: #3b5998;
}

.footer .social .fa-google-plus-g {
  color: #dd4b39;
}

.footer .social .fa-youtube {
  color: #bb0000;
}

.footer .social .fa-facebook:hover,
.footer .social .fa-google-plus-g:hover,
.footer .social .fa-youtube:hover {
  color: #d5d5d5;
}

.footer .copy-right {
  font-size: 20px;
}

@media screen and (max-width: 1200px) {
  .main .card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
  .member .card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr !important;
        grid-template-columns: 1fr 1fr !important;
    grid-gap: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .banner h1 {
    font-size: 35px;
    left: 35vw;
  }
  .footer .social a {
    font-size: 2em;
    padding: 1.5rem;
  }
  #navbar .logo {
    font-size: 20px;
    padding-left: 10px;
  }
  #navbar ul li a {
    margin: 0 10px;
  }
}
/*# sourceMappingURL=index.css.map */