@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to bottom right, rgb(68, 65, 65), rgb(250, 250, 250));
}
.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(img/vendor.png);
    background-size: cover;
    h1{
        position: absolute;
        top:50vh;
        left: 40vw;
    }
}
#navbar{
    z-index: 1;
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 30px 25px 30px;
    .logo{
        position: relative;
        font-weight: 700;
        color: #fff;
        font-size: 20px;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: 0.6s;
        padding-left: 20px;
    }
    ul{
        position: relative;
        display: flex;
        justify-content: center;
        align-self: center;
        margin: 0;
        li{
            position: relative;
            list-style: none;
            a{
                position: relative;
                margin: 0 20px;
                text-decoration: none;
                color: #fff;
                font-size: 18px;
                letter-spacing: 2px;
                font-weight: 500;
            }
        }
    }
   
}

//Sticky bar
.sticky{
    background-color: rgba(104, 105, 103, 0.5) !important;
    padding: 15px 0 15px 0 !important;
    transition: 0.5;
}

.sticky .logo{
    color: rgb(0, 0, 0) !important;
    
}
.sticky ul li a{
    color: #000 !important;
}


//container
.content{
    position: relative;
    height: 100vh;
    .seperateBar{
        position: absolute;
        top: 0px;
        left: 0px;
        height: 20px;
        width: 100%;
        background-image: linear-gradient(rgb(46, 42, 42), rgb(116, 116, 82));
        box-shadow: 0 .5em 1em rgba(0,0,0,0.3);
    }
    
}

// .message{
//     position: relative;
//     h1{
//         position: absolute;
//         top: 70px;
//         left: 50%;
//         transform: translate(-50%, -50%);
//         text-transform: uppercase;
//         font-family: consolas;
//         letter-spacing: 5px;
//         padding: 0;
//         margin: 0;
//         font-size: 35px;
//         color: transparent;
//     }
//     h1:before{
//         content: attr(data-text);
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         color: #000;
//         overflow: hidden;
//         border-right: 1px solid #000;
//         animation: type 6s steps(26) infinite;
//         white-space: nowrap;
//     }
// }
// @keyframes type{
//     0%{
//         width: 0;
//     }
//     50%{
//         width: 100%;
//     }
//     100%{
//         width: 0;
//     }
// }
#test{
    position: relative;
    height: 200px;
    width: 200px;
    background-color: khaki;
}