@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to bottom right, rgb(68, 65, 65), rgb(250, 250, 250));
}
.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient( rgba(37, 37, 37, 0.5), rgba(0, 0, 0, 0.5) ), url(img/vendor.png);
    background-size: cover;
    
    h1{
        position: absolute;
        color: rgb(13, 97, 136);
        text-shadow: 2px 2px 2px rgb(12, 12, 12);
        top:40vh;
        left: 40vw;
        font-size: 50px;
        .txt-type{
            color: rgb(182, 152, 55);
            .txt{
                border-right: 0.2rem solid #777;
            }
        }
    }
}
#navbar{
    z-index: 1;
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 30px 25px 30px;
    .logo{
        position: relative;
        font-weight: 700;
        color: #fff;
        font-size: 20px;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: 0.6s;
        padding-left: 20px;
        font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
    }
    ul{
        position: relative;
        display: flex;
        justify-content: center;
        align-self: center;
        margin: 0;
        li{
            position: relative;
            list-style: none;
            a{
                position: relative;
                margin: 0 20px;
                text-decoration: none;
                color: #fff;
                font-size: 18px;
                letter-spacing: 2px;
                font-weight: 500;
            }
        }
    }
   
}

//Sticky bar
.sticky{
    background-color: rgba(104, 105, 103, 0.5) !important;
    padding: 15px 0 15px 0 !important;
    transition: 0.5;
}

.sticky .logo{
    color: rgb(0, 0, 0) !important;
    
}
.sticky ul li a{
    color: #000 !important;
}


//container
.content{
    position: relative;
    .seperateBar{
        position: relative;
        top: 0px;
        left: 0px;
        height: 20px;
        width: 100%;
        background-image: linear-gradient(rgb(46, 42, 42), rgb(116, 116, 82));
        box-shadow: 0 .5em 1em rgba(0,0,0,0.3);
    }
    .message{
        display: flex;
        height: 200px;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .main{
        .card{
            position: relative;
            box-shadow: 0 .5em 1em rgba(0,0,0,0.3);
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 2rem;
            background: #f1f1f1;
            margin-bottom: 2rem;
            img{
                width: 100%;
            }
            div{
                padding: 2rem;
            }
            h3{
                font-size: 35px;
            }
            p{
                font-size: 20px;
            }
            // button{
            //     position: absolute;
            //     bottom: 50px;
            // }
        }
    
    }
    
}

//hr
.line{
    margin: 100px !important;
    font-weight: 900;
}

//Meet the team

.member{
    margin-bottom: 40px;
    .card{
        box-shadow: 0 .5em 1em rgba(0,0,0,0.3);
    }
}


.footer{
    padding: 20px;
    margin-top: 200px;
    position: relative;
    height: 150px;
    background-color: rgb(69, 67, 100);
    text-align: center;
    h3{
        color: rgb(209, 206, 206);
        text-shadow: 1px 1px 5px #000;
    }
    .social{
        a {
            font-size: 2.5rem;
            padding: 3rem;
        }
          
        .fa-facebook{
        color: #3b5998;
        }
        
        .fa-google-plus-g{
        color: #dd4b39;
        }
        .fa-youtube{
        color: #bb0000;
        }
        
        .fa-facebook:hover, 
        .fa-google-plus-g:hover, 
        .fa-youtube:hover{
            color: #d5d5d5;
        }
    }
    .copy-right{
        font-size: 20px;
    }
}

@media screen and (max-width: 1200px){
    .main{
        .card{
            display: grid;
            grid-template-columns: 1fr !important;
        }
    }
    
}
@media screen and (max-width: 768px){
    .member{
        .card{
            display: grid;
            grid-template-columns: 1fr 1fr !important;
            grid-gap: 2rem;
        }
    }
    .banner{
        h1{
            font-size: 35px;
            left: 35vw;
        }
    }
    .footer{
        .social{
            a {
                font-size: 2em;
                padding: 1.5rem;
            }
        }
    }
    #navbar{
        .logo{
            font-size: 20px;
            padding-left: 10px;
        }
        ul{
            li{
                a{
                    margin: 0 10px;
                }
            }
        }
    }
    
}