@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sideNav{
    background-image: linear-gradient(to bottom right, rgb(197, 171, 55), rgb(88, 215, 219));
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 200px;
    display: block;
    color: white;
    .mainPage{
        text-align: center;
        a{
            font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
            font-weight: 600;
            color: rgb(218, 231, 103);
            text-decoration: none;
            font-size: 30px;
        }
    }
    .sideNavHeader{
        text-align: center;
        font-weight: 500;
        color: wheat;
        font-size: 25px;
    }
    ul{
        margin: 0;
        margin-top: 30px;
        padding: 0;
        counter-reset: item;
        li{
            list-style: none;
            height: 50px;
            position: relative;
            a{
                text-decoration: none;
                color: rgb(247, 252, 252);
                font-weight: 500;
                position: absolute;
                left: 0;
                width: 100%;
                height: 100%;
                padding: 10px;
            } 
            a:hover{
                background-color: rgb(206, 191, 57);
                border-radius: 10px;
            }
        }
    }
}

.currentNav{
    background-color: rgb(101, 112, 76);
    border-radius: 10px;
}

.phoneNav{
    z-index: 3;
    position: fixed;
    background-color: rgb(230, 224, 224);
    top: 0px;
    left: 0px;
    height: 40px;
    width: 100%;
    .burger{
        z-index: 3;
        cursor: pointer;
        position: fixed;
        padding: 5px 0 5px 15px;
        display: block;
        div {
            width: 25px;
            height: 3px;
            background-color: rgb(78, 75, 75);
            margin: 5px;
            transition: all 0.3s ease;
        }
    }
}
.post{
    padding-left: 200px !important;
    .header{
        text-align: center;
        text-shadow: 1px 1px 1px rgb(153, 161, 109);
        padding: 50px;
        font-size: 50px;
        font-weight: 500;
    }
    .content{
        .flip-card{
            margin-bottom: 60px;
            padding: 0;
            
            img{
                width: 100%;
            }
            a{
                position: absolute;
                top: 0px;
                height: 100%;
                width: 100%;
                z-index: 1;
                opacity: 0;
            }
            position: relative;
            .frame{
                opacity: 0;
            }
            .flip-card-inner{ 
                box-shadow: 0 5px 15px 2px rgba(0,0,0,.30);
                position: absolute;
                top: 0px;
                width: 100%;
                height: 100%;
                transition: transform 0.8s;
                transform-style: preserve-3d;
                .front, .back{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    -webkit-backface-visibility: hidden; /* Safari */
                    backface-visibility: hidden;
                }
                .back{
                    transform: rotateY(180deg);
                }
            }
        }
    }
}

//style for card
.flip-card{
    .front, .frame, .back{
        position: relative;
        .para-header{
            padding: 10px 20px 5px 20px;
            font-size: 30px;
        }
        .para{
            padding: 0px 20px 60px 20px;
            font-size: 20px;
        }
    }
}

//post info
.postInfo{
    margin-bottom: 70px;
    display: flex;
    justify-content: flex-end;
    .contributor{
        width: 200px;
        .contrib{
            font-style: italic;
        }
    }
}

.phoneNav{
    display: none;
}
.toggle .line1{
    transform: rotate(45deg) translate(5px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(-45deg) translate(5px, -6px);
}

@media screen and (max-width: 768px){
    .phoneNav{
        display: block;
    }
    .sideNav{
        z-index: 3;
        top: 40px;
        width: 100%;
        text-align: center;
        display: none;
    }
    .post{
        padding: 20px !important;
        .header{
            font-size: 40px;
        }
    }
}